 <!-- Why Choose Us -->
  
  
    
     <!-- Footer -->
     <footer class="bg-dark text-light first_footer mt-5">
       <div class="container">
         <div class="row">
           <div class="col-md-3">
             <h5>About Pythagorax</h5>
             <ul class="list-unstyled">
               <li><a href="#" class="text-light">About Us</a></li>
               <li><a href="" class="text-light">Contact Us</a></li>
               <li><a href="#" class="text-light">Careers</a></li>
             </ul>
           </div>
           <div class="col-md-3">
             <h5>Products</h5>
             <ul class="list-unstyled">
               <li><a href="#" class="text-light">Business Cards</a></li>
               <li><a href="#" class="text-light">Flyers</a></li>
               <li><a href="#" class="text-light">Banners</a></li>
               <li><a href="#" class="text-light">Bags</a></li>
               <li><a href="#" class="text-light">Mugs</a></li>
             </ul>
           </div>
           <div class="col-md-3">
             <h5>Help</h5>
             <ul class="list-unstyled">
               <li><a href="#" class="text-light">FAQ</a></li>
               <li><a href="#" class="text-light">Shipping</a></li>
               <li><a href="#" class="text-light">Returns</a></li>
             </ul>
           </div>
           <div class="col-md-3">
             <h5 class="">Connect With Us</h5>
             <div class="social-icons mb-5">
               <a href="#" class="text-light me-3"><i class="fab fa-facebook"></i></a>
               <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
               <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
               <a href="#" class="text-light"><i class="fab fa-linkedin"></i></a>
             </div>
             <h5>Accepted Payments</h5>
             <div class="payment">
               <img src="" alt="payment"> 
             </div>
           </div>
         </div>
       </div>
     </footer>
 
     <!-- Footer -->
     <footer class="bg-white text-center text-black py-3">
       <div class="container">
         <p class="mb-0">&copy; Copyright © 2024 Pythagorax. All rights reserved.</p>
       </div>
     </footer>

